block dashboard_history
    md-content.history.md-padding(
    ng-if='setting.selected === "History"'
    ng-controller='dashboardHistoryController'
    layout='column'
    flex
    )
        div(layout='row')
            md-input-container(ng-if='user.data.isAdmin')
                label Question ID
                input(type='number', ng-model='query.questionId', ng-change='search()')
            md-input-container(ng-if='user.data.isAdmin')
                label User ID
                input(type='number', ng-model='query.UserId', maxlength='255', ng-change='search()')
            md-datepicker(ng-model='query.from', md-placeholder='From Date', ng-change='search()')
            md-datepicker(ng-model='query.to', md-placeholder='To Date', ng-change='search()')
        md-data-table-toolbar
            h2.md-title History
            span(flex)
            md-button.md-fab.md-mini.md-warn(
            ng-if='user.data.isAdmin'
            ng-disabled='!selected.length'
            ng-click='remove($event)'
            aria-label='remove'
            )
                md-tooltip Remove
                md-icon(class='material-icons') delete
        // Two table templates: workaround for conditional checkboxes, see https://github.com/daniel-nagy/md-data-table/issues/63
        include dashboard_history_table_admin
        include dashboard_history_table_user